<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Zen+Loop&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>OSTEOCLINIC</title>
</head>

<body>
    <div class="contenedor2">
        <header class="header">
            <h1>OSTEO CLINIC</h1>
            <br>
            <nav >
                <a href="index.html" class="barra"><b>Home</b></a>
                <a href="idea.html" class="barra"><b>La idea</b></a> 
                <a href="osteopatas.html" class="barra"><b>Osteopatas</b></a>
                <a href="registro.html" class="barra"><b>Registrate</b></a>
                <a href="osteopatas2.html" class="barra"><b>ABM Osteopatas</b></a>
                <a href="pacientes2.html" class="barra"><b>ABM Paciente</b></a>
            </nav>
        </header>
        <main>
            <div id="fotos">

            </div>

        </main>
        <footer class="footer">
            <nav>
                <a href="https://www.facebook.com/" target="_blank"><img src="./img/facebook-brands.svg" alt="" width="30" height="30"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="./img/instagram-brands.svg" alt="" width="30" height="30"></a> 
                <a href="https://www.twitter.com" target="_blank"><img src="./img/twitter-brands.svg" alt="" width="30" height="30"></a>
            </nav>
            <p>Derechos Reservados @2022</p>
        </footer>
    </div>
    <script src="./js/datos.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>