<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Zen+Loop&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>OSTEOCLINIC</title>
</head>

<body>
    <div class="contenedor2">
        <header class="header">
            <h1>OSTEO CLINIC</h1>
            <br>
            <nav >
                <a href="index.html" class="barra"><b>Home</b></a>
                <a href="idea.html" class="barra"><b>La idea</b></a> 
                <a href="osteopatas.html" class="barra"><b>Osteopatas</b></a>
                <a href="registro.html" class="barra"><b>Registrate</b></a>
                <a href="osteopatas2.html" class="barra"><b>ABM Osteopatas</b></a>
                <a href="pacientes2.html" class="barra"><b>ABM Paciente</b></a>
            </nav>
        </header>
        <main class="contenido">
            <h2>Registrate:</h2>
            <h3>Si sos osteopata y te inspiras en los principios del fundador de la Osteopatia unite a nuestro portal...</h3>
            <form name="formulario">
                <label for="txtNombre">* Nombre: </label>
                <br>
                <input id=Nombre size="30" type="text" name="txtNombre" id="txtNombre" placeholder="Ingrese su nombre aqui..." required> 
                <br><br>
                
                <label for="txtApellido">* Apellido:</label>
                <br>
                <input id=Apellido size="30" type="text" name="txtApellido" placeholder="Ingrese su apellido aqui..." required> 
                <br><br>

                <label for="txtDireccion">Direccion:</label>
                <br>
                <input id=Direccion size="50" type="text" name="txtDireccion" placeholder="Ingrese su direccion aqui..."> 
                <br><br>
                
                <label for="txtCelular">Celular:</label>
                <br>
                <input id=Celular size="20" type="text" name="txtCelular" placeholder="Ingrese su numero de celular aqui..." > 
                <br><br>

                <label for="txtMail">* Mail:</label>
                <br>
                <input id=Correo size="80" type="text" name="txtMail" placeholder="Ingrese su direccion de mail aqui..." required> 
                <br><br>

                <input type="submit" value="Enviar" onclick="valida()">
                <button type="reset">Limpia</button>
                <br>
                 <p>* campos obligatorios</p>

            </form>
            <script>
                  function valida() {
                    var Celular = document.getElementById('Celular').value;
                    if (isNaN(Celular)) {
                        alert("El numero de celular no es valido.");
                        return 0;
                    }
                    var Correo = document.getElementById('Correo').value;
                    var Expresion = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
                    var Resultado = Expresion.test(Correo);
                    if (!Resultado) {
                        alert("El mail no es valido.");
                        return 0;
                    }
                    alert("Muchas gracias por enviar el formulario.\nNos pondremos en contacto con vos en al brevedad.");
                    this.submit();
                }
            </script>

        </main>
        <footer class="footer">
            <nav>
                <a href="https://www.facebook.com/" target="_blank"><img src="./img/facebook-brands.svg" alt="" width="30" height="30"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="./img/instagram-brands.svg" alt="" width="30" height="30"></a> 
                <a href="https://www.twitter.com" target="_blank"><img src="./img/twitter-brands.svg" alt="" width="30" height="30"></a>
            </nav>
            <p>Derechos Reservados @2022</p>
        </footer>
    </div>

</body>

</html>